# Node-RED
node-red/node_modules/
node-red/.npm/
node-red/lib/

# Node-RED runtime files
node-red/.config.*
node-red/flows_cred.json
node-red/*.backup

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar